@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

@include media-breakpoint-down(sm) {
  .container {
    width: 1400px;
    max-width: 98% !important;
  }
}

@include media-breakpoint-down(md) {
  .container {
    width: 1400px;
    max-width: 90%;
  }
}
@include media-breakpoint-up(lg) { 
  .container {
    width: 1300px;
    max-width: 90%;
  }
}

body {
  font-family: 'Roboto', sans-serif !important;
  text-rendering: optimizeSpeed !important;
  font-weight: 300 !important;
  font-size: 16px !important;
}

.text-bold {
  font-wieght: bolder !important;
}

p {
  font-wieght: bold !important;
}

a {
  cursor: pointer;
}

h1 {
  font-size: 1.9em !important;
  color: $primaryColorLighten;
}

.h2 {
  color: $primaryColorLighter;
}

p {
  color: $gray-4;
}

.line-break {
  height: 100px;
}
.line-break-80 {
  height: 80px;
}

.pt-80 {
  padding-top: 80px;
}

.lead {
  font-size: .9375em !important;
  font-weight: 400 !important;
  line-height: 2em !important;
  color: $gray-4;
}

.navbar {
  .navbar-brand {
    img {
      height: 50px;
      @media (max-width: 340px) {
        height: 40px;
      }
    }
  }

  .btn-primary {
    width: 120px;
    border-radius: $border-radius-25;
    padding: .5em;
    border: 0 !important;
    background-color: $intro-title !important;
    box-shadow: $box-shadow-fab;
    font-weight: 300 !important;
    &:hover {
      background-color: darken($intro-title, 10) !important;
    }
    &:focus,
    &:active {
      background-color: darken($intro-title, 15) !important;
      box-shadow: $box-shadow-fab !important;
    }
  }

  .nav-item {
    .nav-link {
      color: $intro-title !important;
      font-size: 1.125em;
      font-weight: 400 !important;
      &:hover {
        color: darken($intro-title, 10) !important;
      }
      &:focus,
      &:active {
        color: darken($intro-title, 20) !important;
      }
    }
  }
  .responsive-menu {
    z-index: 9999999;
    a.nav-link {
      font-size: 1.5em !important;
    }
  }

}

.pt-6 {
  padding-top: 6em;
}

.section-bg {
  background-color: $section-bg;
}

.fdb-icon {
  width: 10em;
}

footer {
  .svg-inline {
    width: 1em;
  }
}

.font-normal {
  font-weight: normal !important;
}

.title-height {
  height: 2.5em;
  overflow: hidden;
}

.feature-height {
  height: 10em;
  overflow: hidden;
}

.feature-max-height {
  height: 12em;
  overflow: hidden;
}

.btn-fab {
  width: 2.35em;
  min-width: 2.35em;
  height: 2.35em;
  padding: 0 !important;
  border-radius: 50% !important;
  line-height: 0 !important;
  &:hover {
    border: 0;
  }
}

svg {
  width: 3em;
  height: 3em;
  border: 1px solid $white;
  padding: .5em;
  text-align: center;
  border-radius: 50%;
  image {
    width: 100%;
    height: 100%;
  }
}
  
.responsive-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-align: center;
  background: $white;
  background: radial-gradient(ellipse at center,#fff 0,#f9f9f9 100%);
  z-index: 10;
}
.navbar-toggler,
.navbar-collapse {
  img.menu-icon {
    width: 2em;
    height: 2em;
  }
}

.navbar-nav.justify-content-center {
  display: block;
  position: absolute;
  background: transparent;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-70%);
  width: 100%;
}

.responsive-menu {
  button {
    display: block;
    width: 2.2em;
    height: 2.2em;
    position: absolute;
    background: transparent;
    top: 1em;
    right: 1.5em;
    border: 0;
  }
}
.responsive-menu--close {
  button {
    display: block;
    width: 2.2em;
    height: 2.2em;
    position: absolute;
    background: transparent;
    top: .6em;
    right: .5em;
    border: 0;
  }
}

.shadow-section {
  box-shadow: $box-shadow-header;
  margin-bottom: 2px;
}

.section-part--odd {
  background: white;
}

.section-part--even {
  background: $background-even;
}


.owl-theme .owl-nav [class*='owl-']{
  position: absolute;
  top: 30%;
  background: none !important;
  color: transparent;
  @include media-breakpoint-down(md) {
    position: relative;
  }
}
.owl-prev {
  left: -55px;
  @include media-breakpoint-down(md) {
    left: -10px;
  }
  &::before {
    content: '';
    background:url('/img/back.png');
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    opacity: .4;
  }
}
.owl-next {
  right: -55px;
  @include media-breakpoint-down(md) {
    right: -10px;
  }
  &::before {
    content: '';
    background:url('/img/next.png');
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    opacity: .4;
  }
}

.owl-next,
.owl-prev {
  &:hover {
    &::before {
      opacity: .6;
    }
  }
  &:focus,
  &:active {
    &::before {
      opacity: .8;
    }
  }
  @include media-breakpoint-down(md) {
    &::before {
      width: 30px;
      height: 30px;
    }
  }
}


.wordpress-page {
  overflow-x: hidden;
  padding-top: 76px !important;
  
  header {
    background-color: $white;
  }

  & > footer {
    background: $backgroundFooter !important;
    color: $footer-color;

    .line-break {
      height: 80px;
    }
    .footer-logo {
      margin-bottom: 40px;
      width: 40%;
      @include media-breakpoint-up(lg) {
        width: 70%;
      }
      @include media-breakpoint-down(sm) {
        width: 70%;
      }
    }

    h3 {
      color: $rgba-light-9;
      font-size: 1.1em;
    }
    
    h2 {
      color: $rgba-light-8;
      @include font-size(1.625);
    }
    
    p {
      color: $rgba-light-8;
      font-weight: 300 !important;
    }
    
    p.about-us {
      line-height: 2em;
      @include font-size(1);
    }

    p.lead {
      font-size: .8em !important;
    }

    .input-group>.form-control:not(:last-child) {
      border-radius: $border-radius-25;
      height: 2.6em;
      box-shadow: $box-shadow-subscribe;
      background-clip: border-box;
    }

    .input-group {
      .btn-fab {
        position: absolute;
        right: .7em;
        top: 0.12em;
        color: $white;
        background: $secondaryColor;
        z-index: 10;
        border: 0;
        &:hover {
          background: darken($secondaryColor, 5);
        }
        &:active,
        &:focus {
          background: darken($secondaryColor, 15);
          box-shadow: none;
        }

        img {
          width: 70%;
          height: 70%;
        }
      }
    }

    .footer-link {
      border-top: 1px solid $rgba-light-18;
    }

    .nav {
      a.nav-link {
        color: $rgba-light-8;
        line-height: 2em;
        font-size: 1.125em;
        &:hover {
          color: $gray-e !important;
        }
        &:active,
        &:focus {
          color: $gray-c !important;
        }
      }
    }
    ::placeholder {
      color: $input-placeholder;
      font-size: 16px;
      font-weight: bold !important;
    }
  }

  .copy-right{
    background: $copy-right-bg;
    color: $rgba-light-8;
    font-size: .75em;
    padding-right: 15px;
    padding-left: 15px;
  }

  .social-icon {
    .btn-fab {
      border: 2px solid $rgba-footer;
      width: 48px;
      height: 48px;
      padding: .6em !important;
      background: transparent;
      box-shadow: $box-shadow-btn;
      &:hover {
        border-color: $gray-e !important;
        background: darken($backgroundFooter, 4);
      }
      &:active,
      &:focus {
        border-color: $gray-c !important;
        background: darken($backgroundFooter, 8);
      }
    }
  }

  .navbar-nav.mobile-header {
    background: $backgroundFooter;
    color: $white;
    font-size: 1.4em;
  }
  .feature-artwork {
    position: relative;
    background-image: url(../public/img/artwork/features-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 280px;
    @media (max-width: 991px) {
      height: 250px !important;
      .fdb-icon {
        width: 7em !important;
      }
    }
    @media (max-width: 426px) {
      height: 210px !important;
    }
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .fdb-icon {
      width: 12em;
    }
  }
  // .feature-big-artwork {
  //   background-image: url(../public/img/artwork/feature-big-bg.png);
  //   background-repeat: no-repeat;
  // }
}

.subscribe-error {
  background: none !important;
}

#mc_embed_signup div.mce_inline_error {
  width: 100%;
  margin-top: .5em !important;
  background-color: transparent !important;
  border: 0!important;
  color: #f86c6b !important;
}


.bdp_blog_template a.bd-more-tag {
 background: $secondaryColor !important;
 color: $white !important;
 &:focus,
 &:hover {
  background: darekn($secondaryColor, 10) !important;
  color: $white !important;
 }
 &:active {
  background: darekn($secondaryColor, 15) !important;
  color: $white !important;
 }
}